* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
  color: #1d1d1f;
  background-image: linear-gradient(
    to right top,
    #051937,
    #171228,
    #190a1a,
    #12040d,
    #000000
  );
  background-attachment: fixed;
  min-height: 100vh;
}
